# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anytree=2.8.0=pypi_0
apipkg=1.5=pypi_0
appdirs=1.4.4=pypi_0
appnope=0.1.0=py37hc8dfbb8_1001
argon2-cffi=20.1.0=py37h60d8a13_1
attrs=19.3.0=py_0
audioread=2.1.9=pypi_0
backcall=0.2.0=pypi_0
backports=1.0=py_2
backports.functools_lru_cache=1.6.1=py_0
blabla=0.1=pypi_0
black=19.10b0=pypi_0
bleach=3.1.5=pyh9f0ad1d_0
ca-certificates=2020.11.8=h033912b_0
cachetools=4.1.1=pypi_0
certifi=2020.11.8=py37hf985489_0
cffi=1.14.0=py37hc512035_1
cfgv=3.1.0=pypi_0
chardet=3.0.4=pypi_0
ci-info=0.2.0=pypi_0
click=7.1.2=pypi_0
cloudpickle=1.4.1=pypi_0
codecov=2.1.0=pypi_0
corenlp-protobuf=3.8.0=pypi_0
coverage=5.1=pypi_0
cycler=0.10.0=pypi_0
dcor=0.4=pypi_0
decorator=4.4.2=py_0
defusedxml=0.6.0=py_0
distlib=0.3.0=pypi_0
entrypoints=0.3=py37hc8dfbb8_1001
et-xmlfile=1.0.1=pypi_0
etelemetry=0.2.1=pypi_0
execnet=1.7.1=pypi_0
filelock=3.0.12=pypi_0
flask=1.1.2=pypi_0
frozendict=1.2=pypi_0
future=0.18.2=pypi_0
identify=1.4.15=pypi_0
idna=2.9=pypi_0
importlib-metadata=1.6.0=pypi_0
importlib_metadata=1.7.0=0
ipykernel=5.1.4=pypi_0
ipython=7.13.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipython_genutils=0.2.0=py_1
ipywidgets=7.5.1=pypi_0
isodate=0.6.0=pypi_0
itsdangerous=1.1.0=pypi_0
jdcal=1.4.1=pypi_0
jedi=0.17.0=pypi_0
jinja2=2.11.2=pyh9f0ad1d_0
joblib=0.15.1=pypi_0
jsonpickle=1.4=pypi_0
jsonschema=3.2.0=py37hc8dfbb8_1
jupyter=1.0.0=pypi_0
jupyter-client=5.3.4=pypi_0
jupyter-console=6.1.0=pypi_0
jupyter-contrib-core=0.3.3=pypi_0
jupyter-contrib-nbextensions=0.5.1=pypi_0
jupyter-core=4.6.1=pypi_0
jupyter-highlight-selected-word=0.2.0=pypi_0
jupyter-latex-envs=1.4.6=pypi_0
jupyter-nbextensions-configurator=0.4.1=pypi_0
kaleido=0.0.3.post1=pypi_0
kiwisolver=1.2.0=pypi_0
libcxx=10.0.0=1
libedit=3.1.20181209=hb402a30_0
libffi=3.3=h0a44026_1
librosa=0.8.0=pypi_0
libsodium=1.0.17=h01d97ff_0
llvmlite=0.34.0=pypi_0
lxml=4.5.2=pypi_0
markupsafe=1.1.1=py37h9bfed18_1
matplotlib=3.2.1=pypi_0
mistune=0.8.4=py37h9bfed18_1001
more-itertools=8.3.0=pypi_0
nbconvert=5.6.1=py37hc8dfbb8_1
nbformat=5.0.7=py_0
ncurses=6.2=h0a44026_1
nltk=3.5=pypi_0
nodeenv=1.3.5=pypi_0
notebook=6.1.1=py37hc8dfbb8_0
numba=0.51.0=pypi_0
numpy=1.18.4=pypi_0
openpyxl=3.0.4=pypi_0
openssl=1.1.1h=haf1e3a3_0
owlrl=5.2.1=pypi_0
packaging=20.4=pyh9f0ad1d_0
pandas=1.0.3=pypi_0
pandoc=2.10.1=haf1e3a3_0
pandocfilters=1.4.2=py_1
parso=0.7.0=pypi_0
pathspec=0.8.0=pypi_0
patsy=0.5.1=pypi_0
pexpect=4.8.0=py37hc8dfbb8_1
pickleshare=0.7.5=py37hc8dfbb8_1001
pip=20.0.2=py37_3
plotly=4.9.0=pypi_0
plotly-orca=1.3.1=1
pluggy=0.13.1=pypi_0
pooch=1.2.0=pypi_0
pre-commit=2.4.0=pypi_0
prometheus_client=0.8.0=pyh9f0ad1d_0
prompt-toolkit=3.0.0=pypi_0
prompt_toolkit=1.0.15=py_1
protobuf=3.12.2=pypi_0
psutil=5.7.0=pypi_0
ptyprocess=0.6.0=py_1001
py=1.8.1=pypi_0
pycparser=2.20=pyh9f0ad1d_2
pydra=0.7=pypi_0
pydra-ml=0.3.1=pypi_0
pygments=2.6.1=py_0
pyld=2.0.3=pypi_0
pyparsing=2.4.7=pyh9f0ad1d_0
pyrsistent=0.16.0=py37h9bfed18_0
pyshacl=0.12.1.post2=pypi_0
pytest=5.4.2=pypi_0
pytest-cov=2.8.1=pypi_0
pytest-env=0.6.2=pypi_0
pytest-forked=1.1.3=pypi_0
pytest-rerunfailures=9.0=pypi_0
pytest-xdist=1.32.0=pypi_0
python=3.7.7=hf48f09d_4
python-dateutil=2.8.1=py_0
python_abi=3.7=1_cp37m
pytz=2020.1=pypi_0
pyyaml=5.3.1=pypi_0
pyzmq=18.1.1=py37h4bf09a9_0
qtconsole=4.7.7=pypi_0
qtpy=1.9.0=pypi_0
rdflib=5.0.0=pypi_0
rdflib-jsonld=0.5.0=pypi_0
readline=8.0=h1de35cc_0
regex=2020.5.14=pypi_0
reproschema=0.5.0=pypi_0
requests=2.23.0=pypi_0
requests-cache=0.5.2=pypi_0
resampy=0.2.2=pypi_0
retrying=1.3.3=pypi_0
scikit-learn=0.23.0=pypi_0
scipy=1.4.1=pypi_0
seaborn=0.10.1=pypi_0
send2trash=1.5.0=py_0
setuptools=46.4.0=py37_0
shap=0.35.0=pypi_0
simplegeneric=0.8.1=py_1
six=1.14.0=pypi_0
soundfile=0.10.3.post1=pypi_0
sqlite=3.31.1=h5c1f38d_1
stanford-corenlp=3.9.2=pypi_0
stanza=1.0.0=pypi_0
statsmodels=0.11.1=pypi_0
terminado=0.8.3=py37hc8dfbb8_1
testpath=0.4.4=py_0
threadpoolctl=2.0.0=pypi_0
tk=8.6.8=ha441bb4_0
toml=0.10.1=pypi_0
torch=1.5.0=pypi_0
tornado=5.1.1=pypi_0
tqdm=4.46.0=pypi_0
traitlets=4.3.3=py37hc8dfbb8_1
typed-ast=1.4.1=pypi_0
urllib3=1.25.9=pypi_0
virtualenv=20.0.20=pypi_0
wcwidth=0.1.9=pypi_0
webencodings=0.5.1=py_1
werkzeug=1.0.1=pypi_0
wheel=0.34.2=py37_0
widgetsnbextension=3.5.1=pypi_0
xz=5.2.5=h1de35cc_0
zeromq=4.3.2=h6de7cb9_2
zipp=3.1.0=py_0
zlib=1.2.11=h1de35cc_3
